:root {
  --gradient: linear-gradient(
    90deg,
    var(--banner-color1) 0%,
    var(--banner-color2) 100%
  );
}
body {
  margin: 0;
}
a {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}
b {
  color: var(--banner-color1);
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
@font-face {
  font-family: 'Comfortaa';
  src: url('fonts/Comfortaa.ttf');
}
@font-face {
  font-family: 'RussoOne';
  src: url('fonts/RussoOne.ttf');
}
@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter.ttf');
}

body {
  font-family: 'Comfortaa';
  background-color: #f7f7f7;
}
.headerMainPage {
  width: 90%;
  margin: auto;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.iconsMainPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.iconsMainPage div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: gray;
  padding: 10px;
  color: white;
}
.icon_addMainPage {
  background: linear-gradient(
    45deg,
    var(--banner-color1) 0%,
    var(--banner-color2) 100%
  );
}
.buttonsMainPage {
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: center;
  align-items: start;
  padding-top: 2px;
}
.button_centerMainPage {
  padding-top: 5px;
  padding-bottom: 5px;
}
.activeMainPage {
  height: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}
.login_buttonsMainPage {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.login_buttonsMainPage div {
  cursor: pointer;
}
.loginbutton_buttonsMainPage {
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  padding: 5px 20px;
  border: 1px solid;
  border-radius: 20px;
}
.signinbutton_buttonsMainPage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  background: linear-gradient(
    45deg,
    var(--banner-color1) 0%,
    var(--banner-color2) 100%
  );
  color: white;
  border-radius: 20px;
}
.bannerMainPage {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transition: 1s linear;
}
.arrowLeftMainPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  height: 200px;
  cursor: pointer;
}
.bannerContainerMainPage {
  position: relative;
  background: linear-gradient(
    90deg,
    var(--banner-color1) 0%,
    var(--banner-color2) 100%
  );

  width: 90%;
}

.arrowRightMainPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  height: 200px;
  cursor: pointer;
}
.bannerContainerMainPage {
  background-color: gray;
  height: 200px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.leftSideBannerMainPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 3em;
  overflow: hidden;
  flex: 4;
  height: 200px;
}
.LaylaleftSideBannerMainPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 3em;
  flex: 4;
  height: 200px;
}
.headerLeftSideContainerPage {
  font-size: 72px;
  font-family: 'RussoOne';
  color: white;
}
.descriptionLeftSideContainerPage {
  font-size: 18px;
  color: var(--gray-color);
}
.rightSideBannerMainPage {
  flex: 6;
  height: 200px;
}
.imageInBannerMainPage img {
  max-width: 500px;
  max-height: 300px;
}
.imageInBannerMainPage {
  border-radius: 20px;
  bottom: 80px;
  right: -20px;
  height: 300px;

  position: relative;
  overflow: hidden;

  object-position: left center;
  pointer-events: none;
}
.imageInBannerMainPage img {
  position: absolute;
  transition: all 1s linear;
  user-select: none;
  right: -40px;
  bottom: 0px;
}

.FadeInImg {
  animation: openModal 0.4s ease-out forwards;
  overflow: hidden;
}

.TextFadeIn {
  animation: fadeInText 0.4s ease-out forwards;
  overflow: hidden;
}

@keyframes openModal {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes fadeInText {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.bottomLayerMainPage {
  width: 90%;
  margin: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.firstSection {
  display: flex;
  flex: 30;
  flex-direction: column;
}
.wrapperFirst {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.ObjectsInFirstSection {
  flex: 1;
  display: flex;
  position: relative;
  flex-direction: row;
  gap: 10px;
}

.ObjectsFirstSession img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateY(-50%) translateX(-50%);
  height: 100%;
  overflow: hidden;
}
.ObjectsFirstSession {
  flex: 1;
  border-radius: 35px;
  color: white;
  background: var(--gradient);
  position: relative;
  overflow: hidden;
}
.buttonShowMore {
  margin-top: 10px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 35px;
  background: var(--gradient);
  color: white;
}
.ObjectsInSecondSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ObjectInSecondSection {
  gap: 10px;
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border-radius: 35px;
  color: white;
  background: var(--gradient);
}
.secondSection {
  flex: 20;
}
.thirdSection {
  flex: 15;
}
.ObjectInThirdSection {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 35px;
  color: white;
  background: var(--gradient);
}
.fourthSection {
  flex: 20;
}
.ObjectInFourthSection {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: white;
  background: var(--gradient);
}
.ObjectInFourthSection {
  gap: 10px;
  padding: 10px 10px;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border-radius: 35px;
  background-color: azure;
}
.NameFirstSection {
  padding-left: 20px;
  padding-bottom: 10px;
  font-size: 24px;
}
.TextObjectFirstSession {
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 1;
  bottom: 10px;
  color: white;
}
.ObjectsInFourthSection {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
}
.ObjectsInThirdSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.ObjectsInThirdSection .closeButton {
  position: absolute;
  top: -15px;
  left: -20px;
  width: 40px;
  color: white;
  height: 40px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(209, 209, 209);
  border-radius: 50%;
}
.ObjectInThirdSection img {
  position: absolute;
  z-index: 0;
  height: 85%;
  border-radius: 30px;
}
.bubbles {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
}
.bubble {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.248);
  border-radius: 50%;
}
@keyframes goUp {
  0% {
    transform: rotate(360deg);
    border-radius: 50%;
  }
  100% {
    bottom: 240px;
    border-radius: 10%;
    transform: rotate(0deg);
  }
}
@keyframes Shine {
  0% {
    box-shadow: 0 0 4px #05cd05;
  }
  50% {
    box-shadow: 0 0 2px #05cd05;
  }
  100% {
    box-shadow: 0 0 4px #05cd05;
  }
}
@media screen and (max-width: 768px) {
  .headerMainPage {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .leftSideBannerMainPage {
    padding-left: 5px;
  }
  .bottomLayerMainPage {
    flex-direction: column;
  }
  .ObjectsInFirstSection {
    height: 200px;
    flex: none;
  }
  .rightSideBannerMainPage {
    display: none;
  }
  .ObjectsInThirdSection {
    flex-direction: row;
    gap: 40px;
  }
  .headerLeftSideContainerPage {
    font-size: 60px;
  }
  .buttonsMainPage {
    gap: 10px;
  }
}
